
.page {
    /* min-inline-size: 320px; */
    min-block-size: 100dvb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    /* max-inline-size: calc((1320 / 1440) * 100%);
    margin: 0 auto; */
}

.content-section {
    inline-size: clamp(45rem, -1.875rem + 93.75vw, 82.5rem);
    /* inline-size: clamp(46.5rem, -0.375rem + 93.75vw, 84rem); */
    padding-inline: 12px;
}

.main {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 12px; */
    margin: auto;
}

/* Стили адаптации под планшет и мобилку от 768*1024, с запасом от 800*1024*/

@media (width <= 800px) {
    .content-section {
        inline-size: clamp(23.438rem, 4.412rem + 81.176vw, 45rem);
    }
}